body {
  margin: 0;
  padding: 0;
  background-image: url("https://image.freepik.com/free-vector/technology-futuristic-circuit-digital-background_77313-288.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  color: #649164;
}


#main {
  #title {
    text-align: center;
    font-size: 44px;
    margin: 2em auto;
  }
  #img-div {
    display: flex;
    justify-items: center;
    transform: translateY(-10%);
    max-width: 600px;
    margin: 0 auto;
    figure{
      margin: 0;
      #image {
        display: block;
        max-width: 100%;      
      }
      #img-caption{
          text-align: center;
          margin-top: 2pc;
      }
    }
    
    
  }
  article {
    display: grid;
    justify-items: center;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 500px;
    margin: 0 auto 3em auto;
    #tribute-info {
      font-weight: 400;
      font-size: 24px;
      margin: 0;
    }
    a {
      margin-top: 20px;
      text-decoration: none;
      color: #0B9C0E;
    }
  }
}

@media only screen and (max-width: 200px){
  #title{
    font-size: 22px !important;
  }
  #tribute-info {
    font-size: 14px !important;
  }
}


@media only screen and (min-width: 200px) and (max-width: 400px){
    #title{
        font-size: 30px !important;
    }
    #tribute-info {
      font-size: 18px !important;
    }
}
