body {
  margin: 0;
  padding: 0;
  background-color: #08323c;
  background-position: center;
  background-repeat: repeat;
  background-size: contain; }

#main {
  max-width: 800px;
  background-image: url("https://image.freepik.com/free-vector/technology-futuristic-circuit-digital-background_77313-288.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  margin: auto;
  color: #649164; }
  #main #title {
    text-align: center;
    font-size: 44px;
    padding-top: 2em;
    margin: auto; }
  #main #img-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
    max-width: 600px;
    margin: 0 auto; }
    #main #img-div figure {
      margin: 0; }
      #main #img-div figure #image {
        display: block;
        max-width: 100%; }
      #main #img-div figure #img-caption {
        text-align: center;
        margin-top: 2pc; }
  #main article {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    max-width: 500px;
    margin: 0 auto; }
    #main article #tribute-info {
      font-weight: 400;
      font-size: 24px;
      margin: 0; }
    #main article a {
      margin-top: 20px;
      text-decoration: none;
      color: #0b9c0e; }

@media only screen and (max-width: 200px) {
  #title {
    font-size: 22px !important; }
  #tribute-info {
    font-size: 14px !important; } }

@media only screen and (min-width: 200px) and (max-width: 400px) {
  #title {
    font-size: 30px !important; }
  #tribute-info {
    font-size: 18px !important; } }
